{% extends "learn_cocktail/base.html" %}
{% load extra_tags %}

{% block main_contents %}
<p class="h2 {{ result_css_cls }}">
  {{ result_txt }}
</p>

<div class="card col-xs-12 col-sm-10 col-md-8 col-xl-6">
  <!-- TODO 出題画像の表示をする
  <img class="card-img-top" src="..." alt="Card image cap">
  -->
  <div class="card-body">
    <p class="h3 card-title">{{ q_cocktail }}</p>
    <p class="card-text">
      <ul class="pl-4 list-group">
        {% for material in q_cocktail.materials.all %}
        <li class="m-1 list-unstyled {{ answer_item_css_cls|get_dict_value:material.pk }} col-xs-10 col-sm-8 col-md-5 col-xl-3">
          {{ material }}
        </li>
        {% endfor %}
      </ul>
    </p>
  </div>
</div>

<a class="btn btn-primary" href="{% url 'question' %}" role="button">問題へ</a>
<a class="btn btn-primary" href="{% url 'top' %}" role="button">トップへ</a>

{% endblock %}
