<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
  <mata charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <!-- load css -->
  <link rel="stylesheet" href="{% static 'learn_cocktail/css/material-kit.min.css' %}">

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


  <title>{% block title %}カクテル学習サイト{% endblock %}</title>
</head>
<body>

  <!-- ナビゲーションバー -->
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <span class="navbar-text">
        Learning Cocktails
      </span>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active ml-1 mr-1">
            <a class="nav-link" href="{% url 'top' %}">Home</a>
          </li>
          <li class="nav-item active ml-1 mr-1">
            <a class="nav-link" href="{% url 'cocktail_list' %}">List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ページコンテンツ -->
  <div class="container">
    {% block main_contents %}{% endblock %}
  </div>

  <!-- フッター -->
  <footer class="footer"></footer>

  <!--   Core JS Files   -->
  <script src="{% static 'learn_cocktail/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'learn_cocktail/js/core/popper.min.js' %}"></script>
  <script src="{% static 'learn_cocktail/js/bootstrap-material-design.min.js' %}"></script>

</body>
</html>
