{% extends "learn_cocktail/base.html" %}


{% block title %}カクテル一覧{% endblock %}


{% block main_contents %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>カクテル名</th>
        <th>作り方</th>
        <th>レシピ</th>
      </tr>
    </thead>
    <tbody>
      {% for cocktail in cocktails %}
      <tr>
        <td>{{ cocktail }}</td>
        <td>{{ cocktail.how_to_make }}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_{{ cocktail.pk }}">
          show
        </button></td>
      </tr>

      <!-- モーダル表示部分 -->
      <div class="modal fade" id="myModal_{{ cocktail.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">{{ cocktail }}</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                {% for recipe in cocktail.recipe_set.all %}
                  <li class="list-group-item list-group-item-info m-1">
                    <div class="row">
                      <div class="col">{{ recipe.material }}</div>
                      <div class="col-2">{{ recipe.quantity }}{{ recipe.unit_of_quantity }}</div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div><!-- /.modal-body -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation cocktail list">
    <ul class="pagination justify-content-center">
      <!-- Previous -->
      {% if cocktails.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ cocktails.previous_page_number }}">&laquo;</a></li>
      {% endif %}

      <!-- Number -->
      {% for num in cocktails.paginator.page_range %}
        {% if cocktails.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      <!-- Next -->
      {% if cocktails.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ cocktails.next_page_number}}">&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock main_contents %}
